@keyframes show {
  0% {
    margin-right:-40%;
  }
  100% {
    margin-right:0%;
  }
}

@keyframes hide {
  0% {
    margin-right:0%;
  }
  100% {
    margin-right:-40%;
  }
}

* {
  user-select: none;
}

html, body {
  padding:0px;
  margin:0px;
  font-family:arial;
  width:100%;
  height:100%;
  overflow:hidden;
}
#debug {
  position: fixed;
  bottom: 0px;
  left:0px;
  color: white;
  background-color:rgba(0,0,0,0.6);
  border-radius: 0px 5px 0px 0px;
}
#debug>div {
  border-bottom:1px solid #9995;
  padding: 6px;
  font-size:14px;
}
.res_title {
  color: #AAA;
  margin-right:2px;
  font-size: 0.8em;
  vertical-align:middle;
  margin-right:10px;
}
.res_content {
  float: right;
}
#mousewin {
  transform-origin: 0% 0%;
  position:fixed;
  z-index:1;
  border-radius: 0px 5px 5px 5px;
  background-color:rgba(0,0,0,0.6);
  padding:5px;
  font-size:12px;
  color:white;
  display:none;
  width:100px;
  color:#AAA;
  animation:fadeIn 0.5s forwards;
  animation-timing-function: cubic-bezier(0.5,0,1.5,1.5);
}

#mousewin b {
  color:white;
  float:right;
}

@keyframes fadeIn {
  0% {
    background-color:rgba(0,0,0,0);
    padding:0px;
    transform: rotateZ(-45deg);
    font-size:2px;
  }
  100% {
    background-color:rgba(0,0,0,0.6);
    transform: rotateZ(0deg);
    padding:5px;
    font-size:12px;
  }
}
/* Info pop up */

/* HOME */

#HomeScreen {
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  z-index:9999997;
  background-color:white;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color:white;
}

.nav {
  position:absolute;
}

.titleContainer {
  font-size:80px;
  letter-spacing: 0.3em;
  word-spacing: -0.2em;
  height:40%;
  display:flex;
  align-items: center;
  justify-content: center;
  font-weight:normal;
  color:#EEE;
  text-shadow: 1px 1px #333, 0px 0px 30px  #000F;
  padding-bottom:20%;
}

.buttonsContainer {
  height:60%;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  text-align: center;
  padding: 8px 35px;
  background-color: #DDD;
  opacity: 0.8;
  font-size:30px;
  margin:10px;
  color:#333;
  border-radius:15px;
  display:flex;
  justify-content: center;
  align-items: center;
  cursor:pointer;
  transition: 0.5s;
  border:none;
}

button:hover {
  transform:scale(0.9);
  opacity: 0.9;
}

button:disabled,
button[disabled]{
  background:rgba(126, 126, 126, 0.8);
}

.playButton {
  padding: 20px 100px;
}

.aboutButton {
  font-size:15px;
}

#Play {
  position:absolute;
  top:0;
  left:100%;
  z-index:9999998;
}

#debug {
  display: none;
}

.appearAnimation #debug {
  display:block;
}

#About {
  position:absolute;
  top:0;
  left:100%;
  /* left:0;*/
  height:100%;
  width:100%;
  z-index:9999998;
  background-color:white;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(212, 188, 155);
  color: rgb(139,69,19);
  overflow-y: scroll;
}

.appearAnimation {
  animation: appear 1s forwards;
}

@keyframes appear {
  to {
    left:0%;
  }
}


.disappearAnimation {
  animation: disappear 1s forwards;
}

@keyframes disappear {
  from {
    left:0;
  }
  to {
    left:100%;
  }
}

#mouton {
  opacity: 0;
}

#ours {
  opacity: 0;
}

#rond {
  opacity: 0;
}

#mapAbout {
  height:100%;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position:relative;
}

.predation, .adn {
  text-align: center;
}

#About .title {
  font-size:18px;
  font-weight: bold;
}

.adn .title {
  margin-top: 10px;
}

#About .description {
  margin-bottom: 10px;
}

.returnButton {
  position: absolute;
  top: 20px;
  left: 20px;
}

.returnIcon {
  width: 30px;
}

#datGui {
  position:absolute;
  right:0;
  top: 80px;
}

/* TIME SCALE */

#time_scale {
  position: fixed;
  right: 0px;
  bottom: 0px;
  padding: 5px;
  border-radius: 5px 0px 0px 0px;
  background-color: rgba(0,0,0,0.5);
  color: #F0F0F0;
  font-size: 13px;
  width:200px;
}
.cursor_dom {

}
.cursor_container {
  height:5px;
  background-color:rgba(70,70,70,0.8);
  border-radius:2px;
  margin:10px;
  cursor:pointer;
  padding:1px 2px;
  width: calc(100% - 10px);
}
.cursor_value {
  color:white;
  font-size:16px;
}
.cursor {
  background-color:white;
  border-radius:6px;
  position: relative;
  left: 15px;
  top:-3px;
  width: 12px;
  height: 12px;
  cursor: pointer;
}

#info {
  position:fixed;
  top:0px;
  right:0px;
  width:20%;
  max-height:80%;
  margin-right:-40%;
}

#openADNCursorsButtonContainer {
  text-align:center;
  position:fixed;
  top:20px;
  left:0px;
  right:0px;

}

#openADNCursorsButton {
  text-align: center;
  width:150px;
  padding:12px;
  margin-top:20px;
  background-color: #DDD;
  opacity: 0.7;
  margin:auto;
  color:#333;
  border-radius:15px;
  cursor:pointer;
  transition: 0.5s;
}

#openADNCursorsButton:hover {
  opacity: 0.9;
}

#closeADNCursorsButton {
  position:absolute;
  top:50px;
  right:50px;
}

#openADNCursorsButton:hover, .closeADNCursors:hover {
  transform: scale(0.95);
}

#ADNCursorsContainer {
  position:fixed;
  top:0px;
  left:50%;
  transform: translateX(-50%);
  width:80%;
  display:flex;
  justify-content:center;
  height:80%;
  transition: all 0.5s;
}

#ADNCursors {
  width:100%;
  margin:50px;
}

#info, #ADNCursorsContainer {
  background-color:#000A;
  padding:10px;
  overflow:auto;
  color:white;
  border-radius: 0px 0px 0px 5px;
  color: #AAA;
}

#info h1, #info h2, #info h3, 
#ADNCursors h1, #ADNCursors h2, #ADNCursors h3 {
  font-weight:normal;
  font-size: 0.7em;
  color:white;
}
#info b, #ADNCursors b {
  color:white;
  float:right;
}
#info p, #ADNCursors p {
  font-size:12px;
  padding:0px;
  margin:0px;
}
#info p:hover, #ADNCursors p:hover {
  background-color: #3335;
}